@tailwind base;
@tailwind components;
@tailwind utilities;


/* .sideBarItems button:hover {
    background: linear-gradient(to right, #fff 0%, #fafafa 100%);
  } */



  body{
    background-color: #f7f7f7;
    /* font-family: Benne, sans-serif; */
    color: black;
  }
  .group:hover {
    @apply bg-gradient-to-r from-primary-900 to-secondary-700;
    transition: background 0.3s ease;
  }

  

  .custom-gradient {
    @apply bg-gradient-to-r  from-blue-100 to-green-300;
  }




  